/*
header, .container, footer {
  width: 800px;
  margin: 10px auto;
  border: 1px solid #AAA;
  padding: 5px;
}


nav li {
  display: inline-block;
  list-style: none;
  background-color: #EEE;
}


nav li a{
  padding: 20px;
  display: block;
}
*/

.jumbotron{
  background-color: #AFA;
}

/*[class^="col-"]{
  border: 1px solid #222;
  border-radius: 5px;
}
*/
h1,h2{
  font-family: 'LetsTraceRuledMedium';
}

.three-cols{
  column-count: 3;
  column-gap: 30px;
  text-align: justify;
}

.footer{
  color: white;
  font-weight: bold;

}
.footer ,fab{
  font-size: 1em;
  color: white;
}
.click{
  border: 2px solid red;
}
.galerie img{
  width: 100%;
  filter: sepia(100%);
}
.galerie img:hover{
  filter: sepia(0%)
}
.error{
  border: 3px solid red;
}

#bg-video{
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;height: auto;
  min-width: 100%; min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  overflow: hidden;
  background: #333;
}
#map{
  width: 600px;
  height: 400px;
}
